.card {
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px mediumslateblue;
  border-radius: 0.5rem;
  color: white;
}

.image {
  width: 100%;
  height: 50%;
}

.image img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 100%;
}

.date {
  padding: 0.5rem;
}

.sol {
  padding: 0.5rem;
}

.details {
  margin-top: auto;
  padding: 0.5rem;
}

.details:hover {
  color: lime;
}

.button {
  margin: 0.5rem;
  margin-top: auto;
  padding: 0.1rem;
  width: 25%;
}
.button:hover {
  /* color: lime; */
  cursor: pointer;
}
