.card {
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    color: white;
}

.image {
    width: 100%;
    height: 50%;
}

.image img {
    width: 100%;
    height: 100%;
}

.date {
    margin-top: 1rem;
}

.cardTitle {
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    word-break: break-all;
}

.details {
    margin-top: auto;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
