
.card {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}

.image {
    background-color: aqua;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: green;
    width: 100%;
    height: 25%;
}

.description {
    background-color: blue;
    width: 100%;
    height: 25%;
}