.container {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.nav {
    background-color: red;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    margin: 2.5%;
}

.footer {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: green;
}