.container {
    /* background-color: tomato; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: solid 1px mediumslateblue;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.button:hover {
    border: solid 1px tomato;
    border-radius: 5px;
    background-color: black;
    /* color: tomato; */
    /* color: lime; */
}
