.container {
    color: white;
    width: 80vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid tomato 1px;
    min-height: 70px;
    border-radius: 5px;
}

.explanation,
.apod,
.image,
.video,
.epic,
.mars {
    padding: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.explanation h1,
.apod h1,
.image h1,
.video h1,
.epic h1,
.mars h1 {
    color: mediumslateblue;
}

@media screen and (max-width: 800px) {
    .container {
        margin-top: 4rem;
        width: 100%;
    }
    .title {
        min-height: 50px;
    }
}
