.container {
    color: white;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title {
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid tomato 1px;
}
.explanation,
.apod,
.image,
.video,
.epic,
.mars {
    padding: 1rem;
}
.explanation h1,
.apod h1,
.image h1,
.video h1,
.epic h1,
.mars h1 {
    color: mediumslateblue;
}

@media screen and (max-width: 800px) {
    .container {
        padding-top: 10vh;
        width: 100%;
    }
}
