.gridContainer {
    /* background-color: red; */
    height: 79vh;
    width: 100%;
    overflow-y: scroll;
}

.grid {
    /* background-color: purple; */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 1.5rem;
}

.buttonContainer {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.load {
    background-color: tomato;
    border-color: tomato;
}

@media (max-width: 800px) {
    .gridContainer {
        overflow-y: unset;
    }
    .grid {
        /* background-color: purple; */
        grid-template-columns: repeat(2, 1fr);
    }
}
