.layout {
    display: flex;
    flex-direction: column;
}

.container {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .layout {
        width: 100%;
        padding-top: 1rem;
    }
    .container {
        height: 100%;
    }
}
