.container {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    visibility: hidden;
    border-bottom: solid white 1px;
    z-index: 1;
}

.left {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50%;
}

.button {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: mediumslateblue;
}

.button:hover {
    border-color: tomato;
}

@media screen and (max-width: 800px) {
    .container {
        visibility: visible;
        grid-template-columns: 1fr 1fr;
    }
    .middle {
        display: none;
    }
}
