.container {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.title {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  border-bottom: solid white 1px;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.item {
  /* border: solid mediumslateblue 1px; */
  color: mediumslateblue;
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin: 1rem;
}

.item:hover {
  border: solid mediumslateblue 1px;
  color: tomato;
  border-radius: 5px;
}

.activeItem {
  border: solid tomato 1px;
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
    margin-top: 10vh;
  }

  .title {
    height: 50px;
  }
}
