.container {
    background-color: lightblue;
    width: 85%;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .container {
        margin-top: 10vh;
        width: 100%;
    }
}
