.container {
    background-color: tomato;
    /* width: 100%; */
    width: 85vw;
    height: 100vh;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    background-color: aqua;
    width: 50%;
    height: 45%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.description {
    background-color: mediumslateblue;
    width: 85%;
    height: 35%;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .container {
        margin-top: 10vh;
        width: 100%;
    }
}
