.container {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px) {
    .container {
        margin-top: 10vh;
    }
}
