.container {
    background-color: brown;
    width: 85%;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    /* background-color: aqua; */
    width: 100%;
    margin-top: 1rem;
}

.about {
    /* background-color: lightblue; */
    width: 100%;
    margin-top: 1rem;
}
.details {
    width: 100%;
    margin-top: 1rem;

    /* background-color: lightcyan; */
}
.tech {
    margin-top: 1rem;

    width: 100%;

    /* background-color: lightsalmon; */
}

@media (max-width: 800px) {
    .container {
        margin-top: 10vh;
        width: 100%;
    }
}
