.container {
    background-color: brown;
    width: 85%;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.heading {
    /* background-color: aqua; */
    width: 100%;
    margin: 1rem;
}

.about {
    /* background-color: lightblue; */
    width: 100%;
    margin: 1rem;
}
.details {
    /* background-color: lightcyan; */
    width: 100%;
    margin: 1rem;
}
.tech {
    /* background-color: lightsalmon; */
    margin: 1rem;
    width: 100%;
}

@media (max-width: 800px) {
    .container {
        margin-top: 10vh;
        width: 100%;
    }
}
