.container {
    background-color: lightgreen;
    width: 100%;
    /* width: 85vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    background-color: red;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.grid {
    background-color: purple;
    /* height: 100%;
    width: 100%; */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);

    gap: 1rem;
    margin: 1rem;
}

.card {
    background-color: aqua;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: solid 1px white;
}

.image {
    background-color: lightcoral;
    width: 100%;
    height: 50%;
}

.image img {
    background-color: lightcoral;
    width: 100%;
    height: 100%;
}

.date {
    background-color: blueviolet;
    margin-top: 1rem;
}

.title {
    background-color: mediumslateblue;
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
}

.details {
    background-color: lightslategrey;

    margin-top: auto;
}

.buttonContainer {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.load {
    /* background-color: lightcoral; */
}

@media (max-width: 800px) {
    .container {
        margin-top: 15vh;
        width: 100%;
        height: 100%;
    }

    .gridContainer {
        overflow-y: unset;
    }
    .grid {
        /* background-color: purple; */
        grid-template-columns: repeat(2, 1fr);
    }
}
