.container {
    /* background-color: lightgreen; */
    width: 100%;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    /* background-color: red; */
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.grid {
    /* background-color: purple; */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: aqua;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    background-color: lightcoral;
}

.image img {
    background-color: lightcoral;
    width: 100%;
    height: 100%;
}

.description {
    background-color: mediumslateblue;
    width: 100%;
    height: 4rem;
    overflow-y: hidden;
}

.buttonContainer {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.load {
    /* background-color: lightcoral; */
}

@media (max-width: 800px) {
    .container {
        margin-top: 15vh;
        width: 100%;
        height: 100%;
    }

    .gridContainer {
        overflow-y: unset;
    }
}
