.container {
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.title {
  margin: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

.tech {
  text-align: center;
}

.icon {
  margin: 1rem;
}

.explanation,
.apod,
.image,
.video,
.epic,
.mars {
  padding: 0.5rem;
  text-align: left;
}

.explanation h1,
.apod h1,
.image h1,
.video h1,
.epic h1,
.mars h1 {
  color: mediumslateblue;
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 4rem;
    width: 100%;
  }
  .title {
    min-height: 50px;
  }
}
