.container {
    margin: 1rem;
}

.search {
    position: sticky;
    height: 2.5rem;
    width: 100%;
    display: flex;
    border: solid 1px;
    border-color: white;
}

.entry {
    background-color: black;
    color: white;
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    border-right: solid 1px;
}

.button {
    color: white;
    background-color: black;
    padding: 0.5rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    border-color: limegreen;
}

.button:active {
    border-color: mediumslateblue;
}
