.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    color: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
