.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: solid white 1px; */
    margin-top: 1rem;
}

.nav {
    color: white;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid white 1px;
}

.item {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding: 1rem;
}

.item2 {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    /* margin: 1rem; */
    padding: 0.5rem;

    border: solid 1px white;
}

@media (max-width: 800px) {
    .container {
        margin-top: 12.5vh;
    }
}
