.container {
    /* background-color: grey; */
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    border-right: solid 1px white;
}

.nav {
    /* background-color: red; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-right: 5rem;
}

.item2 {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    margin: 1rem;

    padding-right: 5rem;
    border: solid 1px white;
}

@media (max-width: 800px) {
    .container {
        /* background-color: red; */
        position: fixed;
        width: 100vw;
        height: 15vh;
        color: white;
        border-bottom: solid 1px white;
    }

    .nav {
        /* background-color: red; */
        /* display: none; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }

    .item {
        /* background-color: red; */
        /* display: none; */
        display: flex;
        align-items: center;
        padding: 0;
        padding-right: 0;
    }

    .item2 {
        /* background-color: red; */
        /* display: none; */
        display: flex;
        align-items: center;
        padding: 0;
        padding-right: 0;
    }
}
