.container {
    /* background-color: grey; */
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    border-right: solid 1px white;
}

.container2 {
    padding-top: 1rem;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    border-right: solid 1px white;
    position: fixed;
    left: 0;
    width: 35%;
    z-index: 9;
}

.title {
    /* background-color: lightcoral; */
    padding: 0.5rem;
    border-bottom: solid 1px white;
}

.sidebar {
    /* background-color: red; */
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: solid 1px white;
}

.item {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding: 1rem;
}

.item2 {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;

    border: solid 1px white;
}

@media (max-width: 800px) {
    .container {
        position: fixed;
        left: -100%;
        width: 35%;
    }
    .sidebar {
        height: 80%;
        border-bottom: none;
    }
    .title {
        display: none;
    }
}
