.container {
    background-color: lightgreen;
    width: 85vw;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        height: 100vh;
    }
}
