.container {
    background-color: black;
    color: white;
    /* position: fixed; */
    left: 0%;
    height: 100%;
    width: 20vw;
    border-right: solid white 1px;
    z-index: 1;
}

.activeContainer {
    background-color: black;
    position: relative;
    left: 0%;
    height: 100%;
    width: 20%;
    border-right: solid white 1px;
    z-index: 9;
}

.title {
    height: 4rem;
    width: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border-bottom: solid white 1px;
}

.nav {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    border-bottom: solid white 1px;
}

.item {
    width: 95%;
    padding: 1rem;
    color: mediumslateblue;
}

.item:hover {
    color: tomato;

    border: solid mediumslateblue 1px;
    border-radius: 5px;
}

.activeItem {
    width: 95%;
    padding: 1rem;
    border: solid tomato 1px;
    border-radius: 5px;
}

.footer {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    overflow-y: hidden;
}

.work:hover {
    color: tomato;
}

.name:hover {
    color: tomato;
}

@media screen and (max-width: 800px) {
    .container {
        position: fixed;
        width: 75%;
        left: -100%;
        transition: 0.75s;
    }
    .activeContainer {
        position: fixed;
        width: 75%;
        left: 0;
        transition: 0.75s;
    }
    .nav {
        height: 80vh;
    }
    .title {
        display: none;
    }
    .footer {
        height: 20vh;
    }
}
