.container {
    /* background-color: tomato; */
    color: white;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid tomato 1px;
}

.image {
    position: relative;
    width: 65%;
    height: 20rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid mediumslateblue 1px;
}

.description {
    width: 85%;
    padding: 2rem;
    word-break: break-all;
    border: solid mediumslateblue 1px;
}

@media (max-width: 800px) {
    .container {
        margin-top: 10vh;
        width: 100%;
    }
}
