.container {
    background-color: lightgreen;
    width: 100%;
    height: 80vh;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    color: black;
    text-align: center;
}

.title {
    /* background-color: lightcoral; */
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

.gridContainer {
    /* background-color: red; */
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.grid {
    /* background-color: purple; */
    /* height: 100%;
    width: 100%; */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);

    gap: 1.5rem;
    margin: 1.5rem;
}

.card {
    /* background-color: aqua; */
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: solid 1px white;
    color: white;
}

.image {
    /* background-color: lightcoral; */
    width: 100%;
    height: 50%;
}

.image img {
    /* background-color: lightcoral; */
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        height: 100vh;
    }
}
