.gridContainer {
    width: 100%;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 1.5rem;
}

@media (max-width: 1400px) {
    .gridContainer {
        overflow-y: unset;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .gridContainer {
        overflow-y: unset;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
