.container {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 1.5rem;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}

.button {
    border: solid 1px mediumslateblue;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    cursor: pointer;
}

.button:hover {
    border: solid 1px lime;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .gridContainer {
        overflow-y: unset;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .container {
        overflow-y: unset;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
