.container {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 1.5rem;
  margin: 2.5rem;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0.5rem;
  margin-top: auto;
  padding: 0.1rem;
  width: 10%;
}
.button:hover {
  /* color: lime; */
  cursor: pointer;
}

@media (max-width: 1400px) {
  .gridContainer {
    overflow-y: unset;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .container {
    overflow-y: unset;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
