.container {
    width: 80%;
}

.title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid tomato 1px;
}

.content {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image {
    position: relative;
    width: 50%;
    min-height: 50%;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid mediumslateblue 1px;
}

.description {
    margin: 3rem;
    width: 50%;
    padding: 1rem;
    border: solid mediumslateblue 1px;
    overflow-y: scroll;
    word-break: break-all;
}

@media (max-width: 800px) {
    .container {
        margin-top: 4rem;
        width: 100%;
        height: 100%;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .image {
        width: 85%;
        margin: 1rem;
    }
    .description {
        width: 85%;
        margin: 1rem;
    }
}
