.container {
    /* background-color: blue; */
    width: 85%;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: solid white 1px; */
}

.title {
    /* background-color: blue; */
    width: 50%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid white 1px;
}

.nav {
    /* background-color: aliceblue; */
    width: 100%;
    color: white;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid white 1px;
}

.item {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding: 1rem;
}

.item2 {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    /* margin: 1rem; */
    padding: 0.5rem;

    border: solid 1px white;
}

@media (max-width: 800px) {
    .container {
        margin-top: 12.5vh;
        width: 100%;
    }
    .title {
        margin-top: 0.5rem;
        width: 75%;
    }
}
